@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: 'Roboto', sans-serif;;
    --cor-primary: #EFEFEF;
    --cor-secundary: #263A74;
    --cor-terciary: #FDAB21;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: var(--cor-primary);
    font-family: var(--font-family);
}

nav{
    display: flex;
    padding: 5px;
    background-color: #000;
    justify-content: space-between;
}

nav span{
    color: #04B2D9;
}

nav > div{
    display: flex;
    color: #ffffff;
}

nav > div > p{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 13px;
}

nav > menu{
    margin-top: 15px;
    padding-right: 10px;
}

nav > menu > a{
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin: 0px 10px;
}

nav > menu > a:hover{
    color: #04B2D9;
    font-weight: 00;
    transition-duration: .2s;
}

nav > div> img{
    padding-left: 20px;
    width: 50px;
}

section.carrousel{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

section.carrousel > img{
    width: 65%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.493);
}

section.noticias{
    color: #000000;
    margin-bottom: 30px;
}

section.noticias > h2{
    font-weight: 700;
    margin: 20px;
}

div.carrousel-atualizacoes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

div.carrousel-atualizacoes > div{
    color: #000000;
    width: 180px;
    height: 150px;
    margin: 0px 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.493);
}

div.carrousel-atualizacoes > div > img{
    width: 120px;
}

div.carrousel-atualizacoes > div > p{
    margin: auto;
}

section.informacoes{
    color: #fff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;

    display: grid;
    gap: 40px;

    grid-template-columns: 200px 200px 200px 200px;
}

.informacoes > div{   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--cor-secundary);
}

.informacoes > div:hover{
    background-color: #000;
    color: #04B2D9;
    transition-duration: .2s;
}

.noticias .informacoes  div  p{
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px;
}

section.indicacoes{
    color: #000000;
    background-color: var(--cor-secundary);
}

section.indicacoes > h2{
    color: #ffffff;
    text-align: center;
}

div.carrousel-depoimentos{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

div.carrousel-depoimentos > div{
    width: 220px;
    height: 300px;
    margin: 20px;
    color: #000;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.493);
}

div.carrousel-depoimentos > div > p{
    text-align: justify;
}

section.equipe{
    color: #000000;
}

section.equipe > h2{
    margin: 20px;
}

div.carrousel-membros{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

div.carrousel-membros > div{
    width: 200px;
    height: 300px;
    background-color: #04B2D9;
}

footer{
    margin-top: 20px;
    background-color: #000;
    color: #fff;
}

footer > ul{
    padding-left: 30px;
    padding-top: 20px;
}

footer > ul > li{
    padding: 5px;
}

footer > ul > li > a{
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

footer > ul > li > a:hover{
    color: #04B2D9;
    font-weight: 500;
    transition-duration: .2s;
}

footer > p{
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 900px){
    section.informacoes{

    }
}